.dark-halloween {
  background-color: #2b2e4a;
}

.brownred-halloween {
  background-color: #53354a !important;
}

.button-halloween {
  background-color: #903749 !important;
}

.button2-halloween {
  background-color: #e02401 !important;
}

.brownred-halloween-background-only {
  background: #53354a !important;
}

.text-halloween {
  color: white !important;
}

.card {
  height: 550px;
  width: 250px;
}
.image-halloween {
  height: 40px;
  border-radius: 50%;
}
